<!-- upload de arquivo com dados para treino -->
<h3>Árvore de decisão</h3><br>
<span>Treinamento: </span>
<input type='file' onchange='algoritmo(this.files[0])' />

<!-- informações que o usuário preencherá -->
<div id='userDate' hidden><br>

	<font color='green'><b>Treinamento realizado com sucesso!</b></font>
	<br><br>
	<hr>
	<br><br>
	<div>
		<div style='float:left;width:48%'>
			<h4>Testar dados</h4>
			<input type='text' placeholder='idade' id='idade' />
			<input type='text' placeholder='renda' id='renda' />
			<button onclick='testValue()'>testar</button>
			<div id='result'></div>
			<br>
			<div id='historic' hidden>
				<hr><br>
				<h4>Histórico</h4><br>
				<div id='historicResult'></div>
				<br>
				<button style='float:right' onclick='saveFile()'>Exportar Histórico</button>
			</div>
		</div>
		<div style='float:left;width:48%'>
			<h5>Resultado treinamento</h5>
			<div class="tree" id="displayTree"></div>
		</div>
	</div>
</div>

<!-- desenha arvore de decisão -->

<script>
	var decisionTree;
	var numberOfTrees = 3;
	var randomForest;
	
	function algoritmo(file) {
		let read = new FileReader();
		read.readAsText(file);
		read.onload = function(e, data = Object.values(JSON.parse(read.result))) {
			let resultTraining = decisionTree(data); // prepara e treina a árvore de decisão
			
			/** permite usuário digitar dados após concluir treinamento */
			if (resultTraining) {
				document.getElementById('userDate').style.display = 'block';
			}
		}
	}

	
	/**
	 * @doc {@link https://github.com/lagodiuk/decision-tree-js}
	 */
	function decisionTree(data) {
	
		// Training set
		let training = data;
		
		console.log(data);
	
		// Configuration
		let config = {
			trainingSet: training, 
			categoryAttr: 'classe', 
			ignoredAttributes: ['id']
		};
			
		// Building Decision Tree
		decisionTree = new dt.DecisionTree(config);
			
		// Building Random Forest
		randomForest = new dt.RandomForest(config, numberOfTrees);
		
		// Displaying Decision Tree
		document.getElementById('displayTree').innerHTML = treeToHtml(decisionTree.root);
	
		return true;
	}
	
	function testValue() {
		// Testing Decision Tree and Random Forest
		//var teste = {"idade"  : "30","renda"  : "5100"};
		let idade = document.getElementById('idade').value;
		let renda = document.getElementById('renda').value;
		
		let data = {"idade" : idade, "renda" : renda};
		
		let decisionTreePrediction = decisionTree.predict(data);
		let randomForestPrediction = randomForest.predict(data);
		
		/** Exibe texto em tela com resultado do algoritmo */
		let resultDiv = document.getElementById('result');
		
		//User info
		resultDiv.innerHTML = formatResult(decisionTreePrediction);
		
		//add to historic
		addToHistoric({
			"idade" : idade, 
			"renda" : renda, 
			"classe": decisionTreePrediction
		});
	}
	
	function formatResult(result) {
		if (result == 'bom') {
			return "Resultado: <font color='green' size='15px'><b>bom</b></font>";
		}
		return "Resultado: <font color='red' size='15px'><b>ruim</b></font>";
	}
	
	function addToHistoric(data) {
	
		let historicHeader = document.getElementById('historic');
		historicHeader.style.display = 'block';
		
		let historicDiv = document.getElementById('historicResult');
		historicDiv.innerText += JSON.stringify(data);

	}
	
	/**function decisao(pessoa) { // em uma arvore comum, isso deveria ser criado automaticamente de acordo com o arquivo importado
		let idade = pessoa.idade;
		let renda = pessoa.renda;
		
		if (
			(idade < 25)                   ||
			(idade > 25   && renda < 1000) ||
			(renda > 1000 && idade > 45)   ||
			(idade > 25   && idade < 45 && renda > 5000)
		) {
			return "ruim";
		}
		
		return "bom";
	}*/
	
	function saveFile(text) {
		let historicText = document.getElementById('historicResult').innerHTML;
		var blob = new Blob([historicText], {type: "text/plain;charset=utf-8"});
		saveAs(blob, "hello world.txt");
	}
</script>
<script src='js/FileSaver.js'></script>
<script src='js/decision-tree.js'></script>
<style>
/*
 Transforming nested lists to pretty tree
 
 <div class="tree">
    <ul>
        <li>
            <ul>
            ...
            </ul>
        </li>
        ...
    </ul>
 </div>
 
Source: http://thecodeplayer.com/walkthrough/css3-family-tree

Some other advices about displaying trees: http://stackoverflow.com/questions/1695115/how-do-i-draw-the-lines-of-a-family-tree-using-html-css
*/

* {
    margin: 0;
    padding: 0;
}

.tree ul {
	padding-top: 20px;
    position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
    white-space: nowrap;
	float: left;
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute;
    top: 0;
    right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
    height: 20px;
}
.tree li::after{
	right: auto;
    left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
 any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{
    padding-top: 0;
}

/*Remove left connector from first child and
 right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute;
    top: 0;
    left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
    height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
 Thanks :)*/
</style>